<!-- Content List Item -->
<a href="<%- config.root %><%- item.path %>">
    <li>

        <% 
            if (item.image) {
                var clip = item.path.length - 1;
                var imagePath = "/images/" + item.path.substring(0, clip) + ".jpg";
        %>
        
            <img src="<%- imagePath %>" alt="<%- item.imageAltText %>"></img>
        <% } else { %>
            <div class="missingimage">No Photo</div>
        <% } %>

        <div><%- item.title || theme.default_post_title || "Untitled" %></div>
    

    </li>
</a>